appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
clipboard==0.0.4
colorama==0.4.4
furl==2.1.0
idna==2.10
iniconfig==1.1.1
lxml==4.6.2
orderedmultidict==1.0.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyperclip==1.8.2
pytest==6.2.4
requests==2.25.1
robotframework==3.2.2
robotframework-pythonlibcore==2.1.0
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.5.0
robotframework-seleniumtestability==1.1.0
selenium==3.141.0
six==1.15.0
soupsieve==2.2
toml==0.10.2
tqdm==4.58.0
urllib3==1.26.2
webdrivermanager==0.10.0
wrapt==1.12.1
